.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
  display: flex;
}

.leftSide{
  flex: 0.18;
  border-right: 1px solid #e1e1e1;
  padding: 25px 10px;

}

.middleSide{
  flex: 0.5;
  /* border: 1px solid; */
}

.rightSide{
  flex: 0.32;
  /* border: 1px solid; */
}